<template>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/dashboard">
          Q
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">        
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <nuxt-link
                to="/"
                class="button is-primary"
                @click.native="logout"
                >
                Log out
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </nav>
</template>
<script>
    export default {
        name: 'Header',
        props: [
            'auth'
        ],
        methods: {
            logout() {
                this.removeCookie("_token")
            },
            removeCookie( name ) {
                document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            },
        }
    }
</script>
