@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
// customize styles
$black: #343434;

@import '~bulma';

.is-vcentered {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.is-hcentered {        
    justify-content: center;
}

.is-fullheight {
    height: calc(100vh - 52px);
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.d-flex {
    display: flex;
}

.ml-auto {
    margin-left: auto;
}

.circle {
    border-radius: 50%;
}