<template>
    <div>
        <Header :auth="false" />
        <div class="container dashboard">
            <div class="columns is-desctop is-hcentered flex-direction-column">
                <div class="column is-full">
                    <div
                        class="card"
                        v-for="(p, index) in projects"
                        :key="index"
                        @click="onClickProject(p)"
                    >
                        <div class="card-content">                        
                            <div class="columns is-desctop is-vcentered">
                                <div class="column d-flex is-vcentered">
                                    <img
                                        class="img-project circle"
                                        v-if="p.logo_url"
                                        :src="p.logo_url" 
                                        alt="" />
                                    <img 
                                        v-else
                                        :src="`https://placehold.it/60?text=${getShortName(p)}`"
                                        class="img-project circle"
                                        alt="" />
                                    <p class="project-title">
                                        {{ p.name }}
                                    </p>
                                </div>                            
                                <div class="column">
                                    <span
                                        class="has-text-primary has-text-weight-bold"
                                        v-if="p.is_active"
                                    >Active</span>
                                    <span
                                        v-else
                                        class="is-danger has-text-danger has-text-weight-bold"
                                    >InActive</span>
                                </div>
                                <div class="column">
                                    <div class="flex-direction-column">
                                        <div class="d-flex">                                        
                                            time this week
                                            <span class="has-text-weight-bold ml-auto">
                                                {{ p.spent_time_week }}
                                            </span>                                        
                                        </div>
                                        <div class="d-flex">
                                            this month
                                            <span class="has-text-weight-bold ml-auto">
                                                {{ p.spent_time_month }}
                                            </span>                                        
                                        </div>
                                        <div class="d-flex">
                                            total
                                            <span class="has-text-weight-bold ml-auto">
                                                {{ p.spent_time_all }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>    
</template>
<script>

import config from "~/config"
import Header from '~/components/Header.vue'

export default {
    components: {
        Header
    },
    name: 'dashboard',
    data() {
        return {
            projects: []
        }
    },
    mounted() {
        this.getAllProjects().then(res => {
            this.projects = res.projects
        })
    },
    methods: {
        onClickProject(project) {
            this.$router.push(`/project/${project.id}`)
        },
        getAllProjects() {
            let $this = this
            return this.$axios.$get(`${config.API_URL}/v2/projects-manage/index`, {
                headers: {
                    "Authorization": `Bearer ${$this.getCookie('_token')}`
                }
            });
        },
        getShortName(project) {
            let [first, last] = project.name.split(" ");
            return first && last ? `${first.charAt(0).toUpperCase()}${last.charAt(0).toUpperCase()}` : first.charAt(0)
        },
        getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }
    }
}
</script>

<style>
    .dashboard {
        margin-top: 25px;
    }

    .img-project {
        width: 60;
        height: 60px;
    }

    .project-title {
        margin-left: 20px;
        font-weight: 600;
    }
</style>

