<template>
    <div class="container is-fullheight">
    <div class="columns is-desktop is-vcentered is-hcentered is-fullheight">
      <div class="column is-one-third">
        <label class="label is-uppercase">Login</label>
        <form @submit.prevent="onClickLogin">
          <div class="field">
            <div class="control">
              <input
                required
                class="input"
                type="text"
                placeholder="Email"
                v-model="user.email"
                />
            </div>            
          </div>
          <div class="field">
            <div class="control">
              <input 
                required
                class="input"
                type="password"
                placeholder="Password"
                v-model="user.password"
                 />
            </div>
          </div>
          <div class="field">            
            <button 
              class="button is-primary is-uppercase"
            >login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
  
  import config from "~/config"

  export default {
    data() {
      return {
        user: {
          email: "",
          password: ""
        }
      }
    },
    methods: {
      onClickLogin() {
        let $this = this
        this.$axios({
          method: "post",
          url: `${config.API_URL}/v2/auth/login`,
          data: this.user
        }).then(res => {
          if (res.data.token) {
            $this.setCookie("_token", res.data.token)
            $this.$toast.success('Successfully authenticated')            
            setTimeout(() => {
              $this.$router.push("/dashboard")
            }, 500)            
          }          
        }).catch(() => {
          $this.$toast.error('Incorrect credentials.')          
        })
      },
      setCookie(name, value, options) {
        options = options || {};

        let expires = options.expires;

        if (typeof expires == "number" && expires) {
          let d = new Date();
          d.setTime(d.getTime() + expires * 1000);
          expires = options.expires = d;
        }
        if (expires && expires.toUTCString) {
          options.expires = expires.toUTCString();
        }

        value = encodeURIComponent(value);

        let updatedCookie = name + "=" + value;

        for (let propName in options) {
          updatedCookie += "; " + propName;
          let propValue = options[propName];
          if (propValue !== true) {
            updatedCookie += "=" + propValue;
          }
        }

        document.cookie = updatedCookie;
      }
    } 
  }
</script>
