<template>
    <div>
        <Header />
        <div class="container is-fullheight">
            <div class="columns is-desktop is-vcentered is-hcentered is-fullheight">
            <div class="column is-one-third">
                <form @submit.prevent="onClickUpdate">
                    <div class="field">
                        <div class="control">
                            <label class="label">Name</label>
                            <input
                                required
                                class="input"
                                type="text"
                                v-model="project.name"
                                placeholder="Name" />
                        </div>            
                    </div>
                    <div class="field">            
                        <button 
                            class="button is-primary is-uppercase"
                            >Update</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
    
    import config from "~/config"    
    import Header from '~/components/Header.vue'

    export default {
        components: {
            Header
        },
        data() {
            return {
                project: {},
                id: false
            }
        },
        mounted() {
            this.id = this.$route.params.id
            this.getProject(this.id).then(res => {
                this.project = res.project
            })
        },
        methods: {
            onClickUpdate() {
                let $this = this
                return this.$axios({
                    method: 'post',
                    url: `${config.API_URL}/v2/projects-manage/update?id=${this.id}`,
                    headers: {
                        "Authorization": `Bearer ${$this.getCookie('_token')}`
                    },
                    data: {
                        name: this.project.name
                    }
                }).then(res => {
                    this.$router.push('/dashboard')
                })
            },
            getProject(id) {
                let $this = this
                return this.$axios.$get(`${config.API_URL}/v2/projects-manage/${id}`, {
                     headers: {
                        "Authorization": `Bearer ${$this.getCookie('_token')}`
                    }
                })
            },
            getCookie(name) {
                let matches = document.cookie.match(new RegExp(
                    "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                ));
                return matches ? decodeURIComponent(matches[1]) : undefined;
            }
        }
    }
</script>
